{% extends 'base.html.twig' %}

{% block title %}Les Modules{% endblock %}

{% block body %}


<div class="wrapper">



    {% for course in courses %}

    <p>
        <a href="{{path('show_category',{'id' : course.category.id} )}}">
            Catégorie : {{course.category.nameCategory}}
        </a>
    </p>

    <p>
        <a href="{{path('show_course', {'id' : course.id}) }}">
            Module : {{course.nameCourse}}
            <a class="btn btn-warning" href="{{ path('edit_course', {'id': course.id }) }}">Editer</a>
            <a class="btn btn-danger" href="{{ path('delete_course', {'id': course.id }) }}">Supprimer</a>
        </a>
    </p>
    {% endfor %}

</div>

{% endblock %}