{% extends 'base.html.twig' %}

{% block title %}Hello StudentController!{% endblock %}

{% block body %}

<div class="wrapper">

    <div>
        <a class="btn btn-success" href="{{ path('new_student') }}">Ajouter</a>
    </div>


    {% for student in students %}

    <p>
        <a href="{{path('show_student', {'id' : student.id}) }}">
            Student : {{student.name}}
        </a>
        <a class="btn btn-warning" href="{{ path('edit_student', {'id': student.id }) }}">Editer</a>
        <a class="btn btn-danger" href="{{ path('delete_student', {'id': student.id }) }}">Supprimer</a>
    </p>

    {% endfor %}

</div>

{% endblock %}
