{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}

<div class="wrapper">

    <div>
        <a class="btn btn-success" href="{{ path('new_category') }}">Ajouter</a>
    </div>


    <div class="accordion" id="accordionExample">
        {% for category in categorys %}

        {% set counter = ( counter | default(0) ) + 1 %}
        <div class="accordion-item">
            <div id="heading{{ "" ~ counter }}" class="accordion-header">
                <div class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse{{ "" ~ counter }}" aria-expanded="true"
                    aria-controls="collapse{{ "" ~ counter }}">
                    <a href="{{path('show_category',{'id' : category.id} )}}">
                        <h4>
                            Catégorie : {{category.nameCategory}}
                        </h4>
                    </a>
                   
                        <a class="btn btn-warning" href="{{ path('edit_category', {'id': category.id }) }}">Editer</a>
                        <a class="btn btn-danger" href="{{ path('delete_category', {'id': category.id }) }}">Supprimer</a>
                   
                </div>
            </div>

            <div id="collapse{{ "" ~ counter }}" class="accordion-collapse collapse "
                aria-labelledby="heading{{ "" ~ counter }}" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul>
                        {% for course in category.courses %}
                        <li>
                            <p>
                                {{course.nameCourse}}
                                <a class="btn btn-warning"
                                    href="{{ path('edit_category', {'id': course.id }) }}">Editer</a>
                                <a class="btn btn-danger"
                                    href="{{ path('delete_category', {'id': course.id }) }}">Supprimer</a>
                            </p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>


        {% endfor %}
    </div>

    

</div>



{% endblock %}