{% extends 'base.html.twig' %}

{% block title %}Les Sessions{% endblock %}

{% block body %}


<div class="wrapper">


    <div id="calendrier">
    </div>

    {# {% for session in sessions %}
    


    <ul>
        <li>
            <a href="{{path('show_session', {'id' : session.id}) }}">
                Session : {{session.sessionName}}
            </a>
        </li>
        <ul>
            
            <li>Le {{session.startDate | date("l d F Y")}} à {{session.startDate | date(" H:i")}} </li>
        
            <li>Place restante : {{session.maxStudent}} </li>
        
        </ul>
    </ul>


    {% endfor %} #}

</div>

<script>

    
 
    window.onload = () => {
        let calendarEl = document.querySelector('#calendrier')

        let calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'timeGridWeek',
            locale: 'fr',
            timeZone: 'Europe/Paris',
            headerToolbar: {
                start: 'prev',
                center: 'title',
                end: 'next'
            },
            allDaySlot: false,
            events : {{ data|raw }}
        })
        
        
        calendar.render()
    }
    
</script>
{% endblock %}