{% extends 'base.html.twig' %}

{% block title %}Add Session!{% endblock %}

{% block body %}


<div class="wrapper">

    <h1>Ajouter une Session</h1>

    {{ form_start(form) }}

    <div class="row">
        <div class="col-sm">{{ form_row(form.formation, {'label' : 'Correspond à la Formation :'}) }}</div>
    </div>

    <div class="row">
        <div class="col-sm">{{ form_row(form.sessionName, {'label' : 'Nom de session'}) }}</div>
    </div>

    <div class="row">
        <div class="col-sm">{{ form_row(form.startDate, {'label' : 'Date de début'}) }}</div>
        <div class="col-sm">{{ form_row(form.endDate, {'label' : 'Heure de fin'})  }}</div>
    </div>


    <div class="row">
        <div class="col-sm">{{ form_row(form.maxStudent, {'label' : "Capacité"}) }}</div>
    </div>


    <h3>Modules :</h3>


    <div id="programme-fields-list" class="remove-collection-widget"
        data-prototype="{{ form_row(form.programs.vars.prototype)|e }}" data-session="{{ sessionId }}"
        data-widget-tags="{{ '<div></div>'|e }}" data-widget-counter="{{ form.programs|length }}">
        
        {% for programField in form.programs %}
        <p>
            {{ form_label(programField, 'Heure de fin') }}
            {{ form_errors(programField) }}
            {{ form_widget(programField, {'attr': {'class':'borders'}}) }}
        </p>
        {% endfor %}
    </div>

    <div class="d-grid gap-2 col-6 mx-auto">
        <button type="button" class=" add-another-collection-widget btn btn-success"
            data-list-selector="#programme-fields-list">Ajouter
            un Programe
        </button>
    </div>

    <h3> Ajouter des Elèves :</h3>

    <div class="row">
        <div class="col-sm">{{ form_widget(form.students) }}</div>
    </div>

    {{ form_row(form.Valider)}}

    {% do form.programs.setRendered %}

    {{ form_end(form) }}

</div>

{% endblock %}